
<!-- start footer Area -->		
			<footer class="footer-area">
				<div class="footer-widget-wrap">
					<div class="container">
						<div class="row section-gap">
							
								
											
							
								<div class="single-footer-widget">
									<h4>Tento web je studentským zápočtovým projektem.</h4>
									<p>Zdroje: http://sport1tv.cz/pribehy/3655/automobilist-predstavuje-kolekci-plakatu-k-1000-grand-prix-formule-1/, https://news.abs-cbn.com/sports/05/28/17/f1-vettel-ends-ferraris-long-wait-for-monaco-victory, https://cs.wikipedia.org/wiki/Michael_Schumacher, cs.wikipedia.org/wiki/Sebastian_Vettel, https://cs.wikipedia.org/wiki/Felipe_Massa, https://cs.wikipedia.org/wiki/Niki_Lauda, https://cs.wikipedia.org/wiki/Kimi_R%C3%A4ikk%C3%B6nen </p>
									
								</div>
												
						</div>					
					</div>					
				</div>
				<div class="footer-bottom-wrap">
					<div class="container">
						<div class="row footer-bottom d-flex justify-content-between align-items-center">
							<p class="col-lg-8 col-mdcol-sm-6 -6 footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
							<ul class="col-lg-4 col-mdcol-sm-6 -6 social-icons text-right">
	                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
	                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
	                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
	                            <li><a href="#"><i class="fa fa-behance"></i></a></li>           
	                        </ul>
						</div>						
					</div>
				</div>
			</footer>
			<!-- End footer Area -->